body {
  background-image: url("images/background-1024.jpg");

  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content {
  display: block;
  background: white;
  width: 100%;
  height: 81vh;
  max-width: 1255px;
  margin: 0 auto;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.statement_wrapper {
  max-width: 815px;
  padding: 7em 1em 0 1em;
  margin: 0 10%;
}

.statement_actions {
  max-width: 815px;
  padding: 0em 1em 0 1em;
  margin: 0 10%;
}

.statement_title {
  font-size: 33px;
  color: #01B4DC;
  font-family: 'Arial';
  font-weight: bold;
}

.statement_description {
  font-family: 'Arial';
  margin-bottom: 1em;
  font-size: 33px;
  min-height: 155px;
}

.application_navigation {
  z-index: 1;
  position: relative;
  top: .5em;
  left: 0;
  height: auto;
  width: 100%;
  max-height: 6em;
  padding: 1em;
}

.btn.btn-back {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/icon-arrow-back.svg);
  background-color: #E7EAEB;
  border-radius: 50px;
  transition: transform .2s;
}

.btn.btn-answer {
  float: left;
  vertical-align: middle;
  margin-right: 2%;
  width: 32%;
  min-width: 87px;
  max-width: 32%;

  margin-right: 1.33%;
  width: auto;
  min-width: 188px;

  font-size: 24px;
  line-height: 24px;
}

.btn.btn-black {
  background-color: black;
  color: white;
  transition: background-color .2s ease;
}

.btn {
  display: inline-block;
  padding: .65em .5em;
  background: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #E7EAEB;
  cursor: pointer;
}
